body {
  background-color: #5c48d2;
  font-family: verdana, Tahoma, Arial, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 48px;
  color: white;
  height: 200px;
  justify-content: center;
}

.main-block {
  width: 1024px;
  background-color: white;
  height: 500px;
  border-radius: 20px;
  margin: 0 auto;
}
